@use "sass:math";
@use "theme";
@use "about";
@use "allcards";
@use "hobbies";
@use "other";
@use "tech";
$size : 3rem;
$white : #ECEDFF;
$black : #000000 ;


@tailwind base;
@tailwind components;
@tailwind utilities;

// SCROLL BAR STYLES
::-webkit-scrollbar {
    width: 5px;
    }

::-webkit-scrollbar-track {
    background: $black;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #1F4EA9;
    border-radius: .8rem;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #83ADFF;
    }

@media only screen and (min-width : 480px) {
    ::-webkit-scrollbar {
        width: 10px;
        }
}

// TYPINE ANIMATION
@keyframes typing {
    0% {
        width : 100%;
    }
    50% {
        width : 0;
    }
}

.typedcont{
    display: inline-flex;
    width : max-content;
    h1{
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 2s alternate-reverse linear infinite;
    }
    span{
        border-color: #1F4EA9;
        border-width: 0 5px 0 0;
    }
}

// FUNCTION TO CONVERT FONT PIXELS TO REMS 
@function torem ($pixels) {
    $result : (math.div($pixels, 16)*1rem);
    @return $result;
}

// FONTS IN TYPEFACE : POPPINS
$reg : "Poppins-Regular";
$med : "Poppins-Medium";
$ita : "Poppins-Italic";
$semi : "Poppins-SemiBold";
// letter spacing
$l_spacing : 0.05rem;

@font-face {
    font-family: $reg;
    src: url("../font/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: $med;
    src: url("../font/poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: $ita;
    src: url("../font/poppins/Poppins-Italic.ttf");
}
@font-face {
    font-family: $semi;
    src: url("../font/poppins/Poppins-SemiBold.ttf");
}
.general {
    @apply tracking-wider;
    letter-spacing: $l_spacing;
}
.text {
    font-family: $reg;
    font-size: torem(12);
    @extend .general;
}
.text_semi {
    font-family: $semi;
    font-size: torem(12);
    @extend .general;
}
.text_title {
    font-family: $semi;
    font-size: torem(12);
    @extend .general;
}
.text_ita {
    font-family: $ita;
    font-size: torem(12);
    @extend .general;
}
.name_title {
    font-family: $med;
    font-size: torem(24);
    @extend .general;
}
.card_title {
    font-family: $semi;
    font-size: torem(20);
    @extend .general;
}
.project_title {
    font-family: $med;
    font-size: torem(20);
    @extend .general;
}


@media only screen and (min-width : "768px") {
    .text {
        font-size: torem(16);
    }
    .text_semi {
        font-size: torem(16);
    }
    .text_title {
        font-size: torem(16);
    }
    .text_ita {
        font-size: torem(16);
    }
    .name_title {
        font-size: torem(32);
    }
    .card_title {
        font-size: torem(24);
    }
    .project_title {
        font-size: torem(24);
    }
}

// HTML AND BODY
html {
    height: 100dvh;
    body{
        height: 100%;
    }
}

// NAV STYLES
.linkbox {
    a {
        display : flex;
        flex-flow : row wrap;
        justify-content: center;
        align-items: center;
        width: $size;
        height : $size;
        margin: 1%;  
    }
}
.main_content {
    overflow-y: scroll;
}

@keyframes upndown {
    0% {
        scale: 1;
    }
    50%{
        scale: .95;
    }
    100%{
        scale: 1;
    }
}
@keyframes lightup {
    0%{
        background-image : radial-gradient(red 0, blue,orange 100%);
    }
    50%{
        background-image : radial-gradient(orange 0, blue,red 100%);
    }
    100%{
        background-image : radial-gradient(red 0, blue,orange 100%);
    }
}

#light:hover {
    background-image: none;
    animation: lightup 1s ease infinite;
    // opacity: 50%;
}

.piccont:hover{
    // padding : 10px;
    img{
        animation: upndown 3s ease-out infinite;
    }
}
.graphics {
    .picture{
        background-image: none;
    }
    picture:hover{
        animation: lightup 1s ease infinite;
        img{
            animation: upndown 3s ease-out infinite;
        }
    }
}

// FOR THE MENU BUTTON
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
        transform: scale(1);
    }
    5%,95%{
        transform: rotateZ(120deg);
        transform: scale(1.3);
    }
    10%,90%{
        transform: rotateZ(-120deg);
    }
    15%,85% {
        transform: rotateZ(0deg);
        transform: scale(1);
    }
}

.animenu {
    animation: rotate 5s ease-in-out infinite reverse;
    transition: .2s ease-out;
}

.slider {
    transition: .2s ease-out;
    min-width : 50%;
    padding : 20px 0px;
    @extend .theme_col;
    position: absolute;
    z-index: 2;
    display : flex;
    flex-flow : column nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    @extend .theme_col;
}

// NAV MEDIA QUERY
@media only screen and (min-width : 768px) {

    .slider {
        min-width : 30%;
    }
}

@media only screen and (min-width : 1200px) {
    .navbar {
        background-color: $white;
    }
}
